html,
body,
#root {
  min-height: 100vh;
  background-color: #334155;
  color: #ffffff;
  margin: 0;
}


.table-responsive::-webkit-scrollbar {
  width: 10px;           
  height: 10px;          
  background: transparent;
}

.table-responsive::-webkit-scrollbar-thumb {
  background: #64748b;
  border-radius: 10px;
  border: 2px solid #334155; }

.table-responsive::-webkit-scrollbar-thumb:hover {
  background: #94a3b5;
}


.table-responsive {
  scrollbar-width: thin;
  scrollbar-color: #64748b #334155;
}

#nprogress .bar {
  background: #22c55e !important; 
  height: 4px !important;         
  z-index: 10001 !important;      
}

#nprogress .peg {
  box-shadow: 
    0 0 15px #22c55e, 
    0 0 10px #22c55e, 
    0 0 5px #22c55e !important;
  opacity: 1;
}

